@import url("https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap");
.header-nav {
  width: 100%;
  max-width: 2400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 3px solid #536b78;
  position: fixed;
  -webkit-backdrop-filter: blur(15px);
          backdrop-filter: blur(15px);
  top: 0;
  left: 0;
  right: 0;
}

.header-nav__container {
  width: 100%;
  max-width: 1400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.header-nav__list-item {
  margin: 1rem 2rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-decoration: none;
  color: black;
  font-weight: 700;
}

.header-nav__list-item:hover {
  text-decoration: underline;
  color: white;
}

.dogbreeds {
  width: 100%;
  max-width: 2400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 5rem;
}

.dogbreeds__container {
  width: 100%;
  max-width: 1400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.dogbreeds__title {
  font-size: 2rem;
  text-align: left;
  width: 100%;
}

.dogbreeds__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.dogbreeds__list-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: auto;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  margin: 1rem;
}

.dogbreeds__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-decoration: none;
  color: black;
  font-weight: 700;
  letter-spacing: 1px;
}

.dogbreeds__link:hover {
  color: white;
}

.dogbreeds__img {
  height: 150px;
  width: auto;
  border-radius: 10px;
  -webkit-box-shadow: 5px 5px 15px -4px #000000;
          box-shadow: 5px 5px 15px -4px #000000;
}

.dogbreeds__name {
  margin-top: 0.5rem;
}

.favorit-dogs {
  width: 100%;
  max-width: 2400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 5rem;
}

.favorit-dogs__container {
  width: 100%;
  max-width: 1400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.favorit-dogs__title {
  font-size: 2rem;
  text-align: left;
  width: 100%;
}

.favorit-dogs__list {
  width: 20rem;
}

.favorit-dogs__list-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style: circle;
  margin: 1rem;
}

.favorit-dogs__remove-btn {
  background: none;
  border: none;
  margin-left: 1rem;
  letter-spacing: 1px;
}

.favorit-dogs__remove-btn:hover {
  font-weight: 700;
}

.line {
  text-decoration: line-through;
}

.home {
  width: 100%;
  max-width: 2400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 5rem;
}

.home__container {
  width: 100%;
  max-width: 1400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.home__title {
  font-size: 2rem;
  text-align: left;
  left: 0;
  width: 100%;
}

.home__description {
  line-height: 1.6rem;
  width: 50%;
}

.dog {
  width: 120px;
  position: relative;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.beard {
  width: 55px;
  height: 65px;
  background: #087ba5;
  margin: 0 auto;
  border-radius: 20px;
  position: relative;
}

.beard:after {
  content: "";
  background: #087ba5;
  width: 26px;
  height: 13px;
  border-radius: 0 0 25px 25px;
  display: block;
  margin: 0 auto;
  -webkit-transform: translateY(64px);
          transform: translateY(64px);
}

.beard:before {
  content: "";
  background: #000;
  width: 20px;
  height: 10px;
  border-radius: 0 0 20px 20px;
  display: block;
  margin: 0 auto;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.mouth {
  background: #1a243c;
  width: 30px;
  height: 15px;
  border-radius: 0 0 30px 30px;
  position: absolute;
  top: 22px;
  margin: auto;
  left: 0;
  right: 0;
  border-top: 3px solid #fff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.mouth .tongue {
  width: 20px;
  height: 30px;
  border-radius: 5px 5px 10px 10px;
  background: #ff6b5a;
  margin: 0 auto;
  position: relative;
  top: 4px;
  -webkit-transition: 300ms;
  transition: 300ms;
  -webkit-animation: grow 0.1s infinite alternate;
          animation: grow 0.1s infinite alternate;
}

.eyes {
  background: #fff;
  width: 20px;
  height: 24px;
  border-radius: 20px 20px 0 0;
  display: block;
  margin: 0 auto;
  position: relative;
  top: 2px;
}

.eyes:before, .eyes:after {
  content: "";
  width: 10px;
  height: 10px;
  background: #000;
  display: block;
  border-radius: 50%;
  top: 50%;
  position: absolute;
  -webkit-animation: squeeze 1.2s infinite;
          animation: squeeze 1.2s infinite;
}

.eyes:before {
  left: -13px;
}

.eyes:after {
  right: -13px;
}

.belt {
  height: 30px;
  background: #ff6b5a;
  margin-top: 20px;
  position: relative;
}

.belt .locket {
  width: 30px;
  height: 30px;
  background: #ffc442;
  margin: 0 auto;
  border-radius: 50%;
  -webkit-transform: translateY(50%);
          transform: translateY(50%);
}

.belt .dot {
  width: 10px;
  height: 10px;
  background: #fff;
  position: absolute;
  border-radius: 50%;
  top: 0;
  bottom: 0;
  margin: auto;
}

.belt .dot.dot1 {
  margin-left: 10px;
}

.belt .dot.dot2 {
  margin-left: 34px;
}

.belt .dot.dot3 {
  margin-left: 77px;
}

.belt .dot.dot4 {
  margin-left: 100px;
}

.belt:before, .belt:after {
  content: "";
  position: absolute;
  width: 5px;
  height: 10px;
  background: #fff;
  top: 0;
  bottom: 0;
  margin: auto;
}

.belt:before {
  left: -5px;
  border-radius: 10px 0 0 10px;
}

.belt:after {
  right: -5px;
  border-radius: 0 10px 10px 0;
}

.stomach {
  width: 56px;
  height: 130px;
  background: #fff;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  border-radius: 120px 120px 0 0;
}

.legs {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 12px;
}

.legs:before, .legs:after {
  height: 12px;
  border-radius: 20px 20px 0 0;
  display: inline-block;
  content: "";
  position: absolute;
  background: #087ba5;
  width: 45px;
}

.legs:before {
  left: -37px;
}

.legs:after {
  right: -37px;
}

.legs .left,
.legs .right {
  display: inline;
  width: 12px;
  height: 55px;
  background: #087ba5;
  position: absolute;
  bottom: 0;
}

.legs .left:before,
.legs .right:before {
  content: "";
  width: 28px;
  height: 12px;
  background: #60c8e7;
  border-radius: 20px 20px 0 0;
  display: inline-block;
  bottom: 0;
  position: absolute;
}

.legs .left {
  left: -12px;
  border-radius: 20px 0 0 0;
}

.legs .left:before {
  -webkit-transform: translateX(-1px);
          transform: translateX(-1px);
}

.legs .right {
  right: -12px;
  border-radius: 0 20px 0 0;
  z-index: 1;
}

.legs .right:before {
  -webkit-transform: translateX(-13px);
          transform: translateX(-13px);
}

.ears {
  position: absolute;
  z-index: -1;
  top: -20px;
}

.ears:after, .ears:before {
  content: "";
  display: inline-block;
  background: #087ba5;
  width: 40px;
  height: 90px;
  border-radius: 100% 100% 0 0;
}

.ears:after {
  -webkit-transform: translateX(40px);
          transform: translateX(40px);
  border: 10px solid #60c8e7;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.tail {
  background: #60c8e7;
  width: 14px;
  height: 80px;
  position: absolute;
  z-index: -1;
  right: 10px;
  bottom: 40px;
  -webkit-transform: rotate(30deg);
          transform: rotate(30deg);
  border-radius: 14px;
  -webkit-transform-origin: bottom;
          transform-origin: bottom;
  -webkit-transition: 300ms;
  transition: 300ms;
  -webkit-animation: shake 0.08s infinite alternate;
          animation: shake 0.08s infinite alternate;
}

.tag {
  border-left: 5px solid #ff6b5a;
  border-bottom: 5px solid #ff6b5a;
  width: 500%;
  height: 161px;
  z-index: 2;
  position: absolute;
  top: 30px;
  left: 100px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-bottom-left-radius: 40px;
}

@-webkit-keyframes squeeze {
  90% {
    -webkit-transform: none;
            transform: none;
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  93% {
    -webkit-transform: scale(1.2, 0.3);
            transform: scale(1.2, 0.3);
  }
  100% {
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
}

@keyframes squeeze {
  90% {
    -webkit-transform: none;
            transform: none;
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  93% {
    -webkit-transform: scale(1.2, 0.3);
            transform: scale(1.2, 0.3);
  }
  100% {
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
}

@-webkit-keyframes grow {
  0% {
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  100% {
    height: 35px;
  }
}

@keyframes grow {
  0% {
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  100% {
    height: 35px;
  }
}

@-webkit-keyframes shake {
  0% {
    -webkit-transform: rotate(30deg);
            transform: rotate(30deg);
  }
  100% {
    -webkit-transform: rotate(40deg);
            transform: rotate(40deg);
  }
}

@keyframes shake {
  0% {
    -webkit-transform: rotate(30deg);
            transform: rotate(30deg);
  }
  100% {
    -webkit-transform: rotate(40deg);
            transform: rotate(40deg);
  }
}

.dog-info {
  width: 100%;
  max-width: 2400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 5rem;
}

.dog-info__container {
  width: 100%;
  max-width: 1400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.dog-info__title {
  font-size: 2rem;
  text-align: left;
  width: 100%;
  text-decoration: underline;
}

.dog-info__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.dog-info__list-item {
  text-decoration: none;
  margin-bottom: 0.5rem;
}

.dog-info__details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-height: 500px;
  padding: 2rem;
}

.dog-info__img {
  max-height: 500px;
  width: auto;
  border-radius: 15px 0;
}

.dog-info__submit {
  border: none;
  background-color: transparent;
  font-size: 1.4rem;
  text-transform: uppercase;
  border-radius: 10px;
}

.dog-info__submit:hover {
  background-color: #accbe1;
}

.loader {
  color: #536b78;
  font-size: 90px;
  text-indent: -9999em;
  overflow: hidden;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  margin: 72px auto;
  position: relative;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load6 1.7s infinite ease, round 1.7s infinite ease;
  animation: load6 1.7s infinite ease, round 1.7s infinite ease;
}

@-webkit-keyframes load6 {
  0% {
    -webkit-box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
            box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  5%,
  95% {
    -webkit-box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
            box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  10%,
  59% {
    -webkit-box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em;
            box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em;
  }
  20% {
    -webkit-box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em, -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em, -0.749em -0.34em 0 -0.477em;
            box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em, -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em, -0.749em -0.34em 0 -0.477em;
  }
  38% {
    -webkit-box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em, -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em, -0.82em -0.09em 0 -0.477em;
            box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em, -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em, -0.82em -0.09em 0 -0.477em;
  }
  100% {
    -webkit-box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
            box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
}

@keyframes load6 {
  0% {
    -webkit-box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
            box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  5%,
  95% {
    -webkit-box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
            box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  10%,
  59% {
    -webkit-box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em;
            box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em;
  }
  20% {
    -webkit-box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em, -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em, -0.749em -0.34em 0 -0.477em;
            box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em, -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em, -0.749em -0.34em 0 -0.477em;
  }
  38% {
    -webkit-box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em, -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em, -0.82em -0.09em 0 -0.477em;
            box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em, -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em, -0.82em -0.09em 0 -0.477em;
  }
  100% {
    -webkit-box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
            box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
}

@-webkit-keyframes round {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes round {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.loader--hide {
  opacity: 0;
}

body {
  font-family: "Shadows Into Light", cursive;
  background-color: #7c98b3;
}
/*# sourceMappingURL=main.css.map */